In [1]:
#Store, Item, Customer
#팀 프로젝트에서 Store 에서 Customer, Item 상속하면 틀림 
#상호작용은 필요하지만 상속하면 안됨

#1. Abcustomer -> Customer(상속)
#2. Person <- Customer(Person)

In [ ]:
class Customer(Person):
    pass

class Store:
    def __init__(customer):
        self.customer = customer
        self.item = item
        self.item_list = self.item.name, self.item.price
        
class Item:
    name
    cnt
    price
    pass

class Seller

### 매직메소드
- special method
- str, repr

In [4]:
class Customer:
    def __init__(self, name):
        self.name = name
        
    def __str__(self):
        #print() 함수로 나온 출력값을 변경하는 것 문자열로
        #print()는 내부적으로 __str__ 메소드 호출
        return f'my name is {self.name}'
    
    def __repr__(self):
        #설정 안하면 __str__동일함
        #확인 해본결과 따로 설정안하면 __str__이 우선순위 높음
        #인스턴스를 출력하는 방식 => 사용자, 즉 인간이 이해하는 객체의 모습을 표현
        return f'my name is {self.name}'
c = Customer('kim')

In [5]:
c

my name is kim

### NamedTuple, DataClass
- 객체보다 효율적임(간단한 속성만 가진 클래스일 경우 활용)
- 딕셔너리의 키처럼 사용 가능하다
- 불변객체

In [6]:
from collections import namedtuple

Customer = namedtuple('Customer', 'name age') #['name', 'age']이런 식으로도 가능하다고 함
a = Customer('lee', 44)
a.name, a.age

('lee', 44)

In [7]:
from dataclasses import dataclass
#3.7 이상에서만

@dataclass
class Customer2:
    name: str
    age: int

b = Customer2('hong', 88)
b.name, b.age

('hong', 88)

### 함수 II
- *, **
- 일급객체
- 내부함수, 클로저
- 익명함수
- 제너레이터
- 재귀함수
asterisk : *

In [8]:
def print_arg(*args):#1. 여러개의 인자 -> 패킹
    print(*args)#2. 언패킹
    
print_arg(1,2,3,4,5)

1 2 3 4 5

In [9]:
def print_more(num1, num2, *args):
    print(num1, num2)
    print(*args, 'optional')
    
print_more(1,2)
print_more(1,2,'안녕하세요', 'hi', 'こんこんばんは') # 여러개 받는다

1 2
optional
1 2
안녕하세요 hi こんこんばんは optional

In [10]:
empty = list(range(10))
print(*empty) #각각 언패킹
print(empty)

0 1 2 3 4 5 6 7 8 9
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
# 행렬, 테이블 데이터
matrix = [
    [1, 2],
    [3, 4],
    [5, 6]
]
# 1, 3, 5 / 2, 4, 6
for item in zip(*matrix):
    print(item)

(1, 3, 5)
(2, 4, 6)

In [12]:
for item in zip([1, 2], [3, 4], [5, 6]):
    print(item)

(1, 3, 5)
(2, 4, 6)

In [13]:
#키워드 전용 인수 선언시 사용 
# * = 인수의 끝과 전용인수의 시작을 선언한다.
def print_data(data, *, start, end):
    for item in data[start:end]:
        print(item)
        
print_data(empty, start = 0, end = 4)

0
1
2
3

### kargs: **

In [14]:
def print_kargs(**kargs): # 키: 값 -> 딕셔너리로 반환
    print(kargs)
    #print(**kargs) #언패킹 안됨

print_kargs(wine = 'crianza', drink = 'water')

{'wine': 'crianza', 'drink': 'water'}

In [15]:
for wine in ['cabernet', 'crianza', 'shiraz']:
    print_kargs(wine = wine, drink = 'water')

{'wine': 'cabernet', 'drink': 'water'}
{'wine': 'crianza', 'drink': 'water'}
{'wine': 'shiraz', 'drink': 'water'}

In [16]:
def print_all(num1, num2, *args, **kargs): #둘이 같이 사용
    print(num1, num2)
    print(sum(args))#각각
    print(kargs)#각각

print_all(1, 2, 3, 4, 5, 6, num = 4)

1 2
18
{'num': 4}

In [17]:
# 딕셔너리 조인할 수 있음
a = {1: 'a', 2: 'b'}
b = {2: 'c', 3: 'd'}
c = {**a, **b}
c

{1: 'a', 2: 'c', 3: 'd'}

In [18]:
# 다른조 클래스 코드 공부