## 고급파이썬프로그래밍 9주차

## Dictionary
- 영어 사전
    - 단어:뜻 (키:값)
    - 순서가 없다.
    - "키로 값을 찾는다" -> 키는 중복 되지않는 고유한 값
    - 가변: 수정, 삭제, 추가 가능
    - 타입: dict
    - 중괄호 사용 {}, 콤마로 구분함
    - 값에 다양한 자료구조가 올 수 있음
        - a:1, b:[1, 2, 3, 4]

In [1]:
a = [1, 2, 3]
a[0]

1

In [2]:
empty = dict()
empty = {}
# set {}
empty = {}
empty = set()
type(empty)

set

In [3]:
a = {1, 2, 3} #set
a = {1:'apple', 2:'banana', 3:'kiwi'} #dict
a

{1: 'apple', 2: 'banana', 3: 'kiwi'}

In [4]:
b = {'':'', '':'', '':''}
b = dict(apple='a', banana='b', kiwi='c')
b

{'apple': 'a', 'banana': 'b', 'kiwi': 'c'}

In [5]:
#출석부로 딕셔너리 만들기
student_list = {202201:['james', '경제학과'], 202202:['louis', '컴공과'], 202203:['laura', '스페인어과']}

### 형 변환

In [6]:
#페어가 있어야 변환 가능
ex1 = [[1, 2], [2, 3], [3, 4]]
dict(ex1)

{1: 2, 2: 3, 3: 4}

In [8]:
ex2 = [(1, 2), (1, 2), (1, 3)]
dict(ex2) #중복 제외

{1: 3}

In [9]:
ex3 = ['ab', 'bc', 'cd'] #문자열 두자리까지만 가능
dict(ex3)

{'a': 'b', 'b': 'c', 'c': 'd'}

### 항목조회 & 변경

In [10]:
pythons = {
    'Chapman':'Graham',
    'Cleese': 'John',
    'Idle': 'Eric',
    'Jones': 'Terry',
    'Palin':'Michael'}

In [11]:
pythons['Idle']

'Eric'

In [12]:
pythons['Hwa']

KeyError: 'Hwa'

In [13]:
#변경
pythons['Idle'] = 'James'

#추가
pythons['Hwa'] = 'Chloe'

In [14]:
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'Chloe'}

In [18]:
#예외 없이1
'Hwa' in pythons

True

In [17]:
#예외없이2 get()
pythons.get('Hwa') #있으면 값반환

'Chloe'

In [22]:
pythons.get('Lee', 0) #없을때 반환값 설정

0

### 전체 조회
- keys()
- values()
- items()

In [26]:
list(pythons.keys())

['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa']

In [24]:
pythons.values()

dict_values(['Graham', 'John', 'James', 'Terry', 'Michael', 'Chloe'])

In [25]:
pythons.items() #(키, 값) 튜플 형태로 -> 순회 많이 씀

dict_items([('Chapman', 'Graham'), ('Cleese', 'John'), ('Idle', 'James'), ('Jones', 'Terry'), ('Palin', 'Michael'), ('Hwa', 'Chloe')])

In [28]:
for k, v in pythons.items(): #list comprehension
    print(f'{k} = {v}')

Chapman = Graham
Cleese = John
Idle = James
Jones = Terry
Palin = Michael
Hwa = Chloe

In [29]:
[(k, v) for k, v in pythons.items()]

[('Chapman', 'Graham'),
 ('Cleese', 'John'),
 ('Idle', 'James'),
 ('Jones', 'Terry'),
 ('Palin', 'Michael'),
 ('Hwa', 'Chloe')]

In [31]:
[k[0] for k in pythons.items()] #인덱스 0 = key, 1 = value

['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa']

In [32]:
[k for k in pythons] #keys

['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa']

### ex
Q. animal:num_leg 딕셔너리 만들기

In [33]:
animal = 'cat snake monkey ant spider'.split()
legs = 4, 0, 2, 4, 8

In [36]:
animal_legs = dict([(k,v) for k, v in zip(animal, legs)])
animal_legs

{'cat': 4, 'snake': 0, 'monkey': 2, 'ant': 4, 'spider': 8}

Q. pythons에서 성:이름, 성 첫글자만, 이름은 글자개수로 이루어진 튜플(성,이름) 리스트로 반환하기
- dict comprehension 쓰지말기

In [35]:
[(k[0], len(v)) for k, v in pythons.items()]

[('C', 6), ('C', 4), ('I', 5), ('J', 5), ('P', 7), ('H', 5)]

### 값 수정, 삭제, 복제, 비교

In [37]:
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'Chloe'}

In [38]:
others = {
    'Marx':'Groucho',
    'Howard':'Moe'}

In [40]:
pythons.update(others) #딕셔너리 병합
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'Chloe',
 'Marx': 'Groucho',
 'Howard': 'Moe'}

In [42]:
{**others, **pythons} #병합2 (py3에만 존재)

{'Marx': 'Groucho',
 'Howard': 'Moe',
 'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'Chloe'}

In [43]:
del pythons['Lee']

KeyError: 'Lee'

In [44]:
pythons.pop('Marx') #값 반환 후 삭제

'Groucho'

In [46]:
pythons.pop('Lee', 0) #없을때 반환값 설정, 반환값 없으면 에러

0

In [47]:
#전체 삭제
pythons.clear()
pythons = {}

In [48]:
pythons

{}

### 복제
- 할당 a = b
- 얕은 복사 c = a.copy()
- 깊은 복사

In [49]:
a = {1:1, 2:2, 3:3}
b = a
a[1] = 45
a, b

({1: 45, 2: 2, 3: 3}, {1: 45, 2: 2, 3: 3})

In [56]:
a = {1:1, 2:2, 3:3}
c = a.copy() #얕은복사
a[2] = 22
a, c

({1: 1, 2: 22, 3: 3}, {1: 1, 2: 2, 3: 3})

In [58]:
z = {1:[1, 2, 3], 2:[2, 3, 4]} 
d = z.copy()
z[1][0] = 100
z, d # d 값도 바뀜 (얕은 복사 문제점)

({1: [100, 2, 3], 2: [2, 3, 4]}, {1: [100, 2, 3], 2: [2, 3, 4]})

In [62]:
import copy
e = copy.deepcopy(z) #깊은 복사
z[1][1] = 999
z, e

({1: [100, 999, 3], 2: [2, 3, 4]}, {1: [100, 999, 3], 2: [2, 3, 4]})

### 비교
- 같다, 다르다만 가능

In [63]:
a != b

True

### ex
1. 두 리스트로 하나의 딕셔너리 생성
2. 명왕성 = pluto 추가하기
3. '성'으로 끝나지 않는 키 삭제하기 
4. sorted 이용해서 값 정렬하기

In [67]:
solar_kor = '태양 수성 금성 지구 화성 목성 토성 천왕성 해왕성'.split()
solar_eng = 'sun mercury venus earth mars jupiter saturn uranus neptune'.split()

dict_solar = dict([(k, v)for k, v in zip(solar_kor, solar_eng)])
dict_solar['명왕성'] = 'pluto'
dict([(k, v) for k, v in dict_solar.items() if k.endswith('성')])
sorted(dict_solar.keys())
sorted(dict_solar.values())

['earth',
 'jupiter',
 'mars',
 'mercury',
 'neptune',
 'pluto',
 'saturn',
 'sun',
 'uranus',
 'venus']

### 컴프리헨션

In [68]:
letter = 'apple'
#a: 1, p: 2, ...
{ch: letter.count(ch) for ch in letter}

{'a': 1, 'p': 2, 'l': 1, 'e': 1}

In [69]:
#단어의 모음세기
vowels = 'aeiou'
word = 'anomatopoeia'
{v:word.count(v) for v in vowels if v in word} #vowels 순회
{w:word.count(w) for w in set(word) if w in vowels} #word 순회

{'a': 3, 'o': 3, 'i': 1, 'e': 1}

#### sorting

In [73]:
sorted(dict_solar.items(), key=fx) #key함수 기준으로 정렬

[('지구', 'earth'),
 ('목성', 'jupiter'),
 ('화성', 'mars'),
 ('수성', 'mercury'),
 ('해왕성', 'neptune'),
 ('명왕성', 'pluto'),
 ('토성', 'saturn'),
 ('태양', 'sun'),
 ('천왕성', 'uranus'),
 ('금성', 'venus')]

In [71]:
def fx(x):
    return x[1]

In [75]:
sorted(dict_solar.items(), key=lambda x: x[1]) #함수 fx -> lambda

[('지구', 'earth'),
 ('목성', 'jupiter'),
 ('화성', 'mars'),
 ('수성', 'mercury'),
 ('해왕성', 'neptune'),
 ('명왕성', 'pluto'),
 ('토성', 'saturn'),
 ('태양', 'sun'),
 ('천왕성', 'uranus'),
 ('금성', 'venus')]

### Set
- 중복이 없다 (딕셔너리의 키만 가지는 것과 비슷)
- 집합(교집합, 합집합, 차집합..)
- bag(순서, 중복 없음), 인덱싱 없음

In [76]:
empty = set()
empty

set()

In [77]:
a = {1, 2, 3}
a

{1, 2, 3}

In [78]:
a = set((1, 2, 3)) #선언, 형 변환
a

{1, 2, 3}

In [82]:
#추가
a.add(4)
a

{1, 2, 3, 4}

In [83]:
#삭제
a.remove(4)
a

{1, 2, 3}

In [85]:
drinks = {
    'martini': {'vodka', 'vermouth'},
    'black russian': {'vodka', 'kahlua'},
    'white russian': {'cream', 'kahlua', 'vodka'},
    'manhattan': {'rye', 'vermouth', 'bitters'},
    'screwdriver': {'orange juice', 'vodka'} }

#vodka 포함된 술 출력
#vodka 있지만 cream, vermouth 없는 술 출력

In [87]:
{key: value for key, value in drinks.items() if ('vodka' in value)}

{'martini': {'vermouth', 'vodka'},
 'black russian': {'kahlua', 'vodka'},
 'white russian': {'cream', 'kahlua', 'vodka'},
 'screwdriver': {'orange juice', 'vodka'}}

In [91]:
{key: value for key, value in drinks.items() 
 if ('vodka' in value) and ('cream' not in value) and ('vermouth' not in value)}

{'black russian': {'kahlua', 'vodka'},
 'screwdriver': {'orange juice', 'vodka'}}

In [92]:
a = {1, 2, 3}
b = {2, 3, 4}

# 교집합 | intersection
a.intersection(b)
a & b

# 합집합 | union
a.union(b)
a | b

# 차집합 | difference
a.difference(b)
a - b, b - a

({1}, {4})

In [95]:
#set 활용해서 바꾸기
for k, v in drinks.items():
    #if v & {'vodka'} and not v & {'cream', 'vermouth'}:
    if 'vodka' in v and not v & {'cream', 'vermouth'}:
        print(k)

black russian
screwdriver

In [96]:
{s for s in range(5)}

{0, 1, 2, 3, 4}

In [97]:
# frozenset
set([1, 2])
frozenset([1, 2])

frozenset({1, 2})